@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {z-index:99999;position:fixed;width:100vw;height:100vh;background:#3498DB;color:#fff;font-size:20px;text-align:center;}
.loader div{display: inline-table;margin: 50vh auto;}
.loader span{float:left;width:30px;box-shadow:0px 0px 10px; animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;border:1px solid;}
.loader span:nth-child(1) {left: 0px;animation-delay: -0.48s;}
.loader span:nth-child(2) {left: 35px;animation-delay: -0.36s;}
.loader span:nth-child(3) {left: 70px;animation-delay: -0.24s;}
.loader span:nth-child(4) {left: 105px;animation-delay: -0.12s;}
.loader span:nth-child(5) {left: 140px;animation-delay: -0.48s;}
.loader span:nth-child(6) {left: 175px;animation-delay: 0}
.loader span:nth-child(7) {left: 210px;animation-delay: -0.36s;}
.loader span:nth-child(8) {left: 245px;animation-delay: -0.24s;}
.loader span:nth-child(9) {left: 280px;animation-delay: -0.12s;}
.loader span:nth-child(10) {left: 315px;animation-delay: -0.48s;}
.loader span:nth-child(11) {left: 350px;animation-delay: 0;}
@keyframes loader {0% {top: 6px;height: 64px;}50%, 100% {top: 30px;height: 30px;}}
